CONFIG_TARGET_bcm53xx=y
CONFIG_TARGET_bcm53xx_generic=y
CONFIG_TARGET_bcm53xx_generic_DEVICE_phicomm-k3=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_adbyby=n
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=n
CONFIG_PACKAGE_iptables-mod-ipopt=n
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=n
CONFIG_PACKAGE_kmod-ipt-ipopt=n
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-tun=n
CONFIG_PACKAGE_libbz2=n
CONFIG_PACKAGE_libexif=n
CONFIG_PACKAGE_libffmpeg-audio-dec=n
CONFIG_PACKAGE_libflac=n
CONFIG_PACKAGE_libid3tag=n
CONFIG_PACKAGE_libjpeg-turbo=n
CONFIG_PACKAGE_libminiupnpc=n
CONFIG_PACKAGE_libnatpmp=n
CONFIG_PACKAGE_libogg=n
CONFIG_PACKAGE_libsqlite3=n
CONFIG_PACKAGE_libstdcpp=n
CONFIG_PACKAGE_libvorbis=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-minidlna=n
CONFIG_PACKAGE_luci-app-mwan3=n
CONFIG_PACKAGE_luci-app-mwan3helper=n
CONFIG_PACKAGE_luci-app-syncdial=n
CONFIG_PACKAGE_luci-app-wifischedule=n
CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=n
CONFIG_PACKAGE_luci-i18n-minidlna-zh-cn=n
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=n
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=n
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=n
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=n
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_minidlna=n
CONFIG_PACKAGE_mwan3=n
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
CONFIG_PACKAGE_wifischedule=n
CONFIG_PACKAGE_zerotier=n
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_JSON1=y
CONFIG_SQLITE3_RTREE=y
